$font-family: 'Roboto', sans-serif;
$font-style: normal;

$font-size-base: 14px;
$font-size-56: 56px;
$font-size-36: 36px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-12: 12px;
$font-size-10: 10px;

$font-weight: 500;
$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-normal: normal;
$font-weight-bold: bold;

$line-height: 32px;
$line-height-1: 1.5px;
$line-height-16: 16px;
$line-height-18: 18.75px;
$line-height-32: 32px;
$line-height-37: 37.5px;
$line-height-64: 64px;

$transition-1s: all 1s ease-in-out;
$transition-06s: all .6s ease-in-out;
$transition-02s: all .2s ease-in-out;

$background-size: cover;

$background-position: center;

$z-index: 3;

$cursor-pointer: pointer;

$position-relative: relative;
$position-absolute: absolute;

$justify-center: center;
$justify-space-between: space-between;

$items-center: center;

$content-center: center;

$text-left: left;

$hide: hidden;
$cover: cover;

$flex-wrap: wrap;
$flex-nowrap: nowrap;

$flex-s: flex-start;
$flex-e: flex-end;

$flex: flex;

$flex-col: column;
$flex-row: row;

$p-0: 0;
$p-3px: 3px;

$width-300: 300px;

$max-width: 300px;

$height-440: 440px;
$height-480: 480px;
$height-500: 500px;

$max-height: 480px;

$l-10: 10%;

$t-0: 0%;
$t-2: 2%;
$t-5: 5%;

$b-0: 0;
$b-5: 5%;
$b-10: 10%;

$ml-10px: 10px;
$ml-10: 10%;

$mr-14: 14%;

$m-0: 0;

$mt-10px: 10%;
$mt-2rem: 2rem;
$mt-8: 8%;